﻿

@font-face {
    font-family: Pacifico;
    src: url(Pacifico.ttf);
}



body 
{
    
}

h1
{
    color:#000000;
}

img.main-image{
    position: relative;
    left: 15%;
	margin-top: 10%;

}
p.main-logo {
    position: relative;
    left: 5%;
	color: #FFFFFF;
	font-family: "Pacifico";
	font-size: 70px;
	margin: 0px;
	margin-top: 10%;
}
p.main-logo2 {
    position: relative;
    left: 25%;
	color: #FFFFFF;
	font-family: "Pacifico";
	font-size: 70px;
	margin: 0px;
}
p.main-description{
	position: relative;
	left: 5%;
	color: #FFFFFF;
	font-size: 25px;
	font-family: "Arial";
	margin: 0px;
}

h5.left-description{
	position: relative;
	left: 0%;
	font-size: 15px;
	font-family: "Arial";
	margin: 0px;
}

h5.right-description{
	position: relative;
	left: 55%;
	font-size: 15px;
	font-family: "Arial";
	margin: 0px;
}
button.logIn{
	position:fixed;
	top:2%;
	left:90%;
	
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 40;
  -moz-border-radius: 40;
  border-radius: 40px;
  -webkit-box-shadow: 0px 0px 9px #666666;
  -moz-box-shadow: 0px 0px 9px #666666;
  box-shadow: 0px 0px 9px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 10px;
  border: solid #ffffff 2px;
  text-decoration: none;

}
button.signUp{
	position:fixed;
	top:2%;
	left:95%;
	
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 40;
  -moz-border-radius: 40;
  border-radius: 40px;
  -webkit-box-shadow: 0px 0px 9px #666666;
  -moz-box-shadow: 0px 0px 9px #666666;
  box-shadow: 0px 0px 9px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 10px;
  border: solid #ffffff 2px;
  text-decoration: none;

}

#page1btn{
	position:fixed;
	top:90%;
	left:47%;
	
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 40;
  -moz-border-radius: 40;
  border-radius: 40px;
  -webkit-box-shadow: 0px 0px 9px #666666;
  -moz-box-shadow: 0px 0px 9px #666666;
  box-shadow: 0px 0px 9px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #ffffff 2px;
  text-decoration: none;
	
}
#page2btn{
	position:fixed;
	top:90%;
	left:53%;
	
	  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 40;
  -moz-border-radius: 40;
  border-radius: 40px;
  -webkit-box-shadow: 0px 0px 9px #666666;
  -moz-box-shadow: 0px 0px 9px #666666;
  box-shadow: 0px 0px 9px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #ffffff 2px;
  text-decoration: none;
	
}


#page1btn:hover, #page2btn:hover, button.signUp:hover, button.logIn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}




